<!DOCTYPE html>
<html>
<title>Messages</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.friendlist {
  background-color: lightblue;
  width: 100%;
  height: 120px;
  overflow: auto;
}
.container {
  border: 2px solid #dedede;
  background-color: #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.darker {
  border-color: #ccc;
  background-color: #ddd;
}
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  height:50px;
  margin-right: 20px;
  border-radius: 50%;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

</style>

<body class="w3-theme-l5" >
{% if message %}
<script>
    alert('{{ message }}');

</script>
{% endif %}
<script>

</script>


<!-- Navbar -->
 <div class="w3-top">
   <div class="w3-bar w3-theme-d2 w3-left-align w3-large navbar">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()">
      <i class="fa fa-bars"></i></a>
    <a href="/home/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 navbar"><i class="fa fa-home w3-margin-right"></i>Amrita Hub</a>
    <!-- <div>
  	<input type="text" class="w3-bar-item w3-padding-large w3-hide-small w3-input navbar" placeholder="Search...">
       <a href="#" class="w3-bar-item w3-padding-large w3-hide-small w3-button w3-theme-l1"><i class="fa fa-search navbar"></i></a></div>-->

    <a href="/logout/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout">
      <img src='{% static "images/logout.png" %}' class="w3-circle" style="height:23px;width:23px" alt="Logout">
    <a href="/profile/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
        {% if profile.img %} <img src='{%static profile.img.url|slice:"12:" %}'  class="w3-circle" style="height:23px;width:23px" alt="Logout">
        {% else %}
        <img src='{% static "images/user.png" %}'  class="w3-circle" style="height:23px;width:23px" alt="Logout">
        {% endif %}

    </a>

      <a href="/message/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Notifications"><i class="fa fa-bell"></i></a>
    </a>
   </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/message/" class="w3-bar-item w3-button w3-padding-large">Notifications</a>
    <a href="/profile/" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    <a href="/logout/" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  </div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
   <div class="w3-sidebar w3-bar-block  " style="width:160px;height:60%;">
  <h5 class="w3-bar-item">Messages</h5>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'person1')"><i class="fa fa-user-circle fa-fw w3-margin-center w3-large"></i> Friend1 <i class="fa fa-chevron-right fa-fw w3-margin-left"></i></button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'person2')"><i class="fa fa-user-circle fa-fw w3-margin-center w3-large"></i> Friend2 <i class="fa fa-chevron-right fa-fw w3-margin-left"></i></button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'person3')"><i class="fa fa-user-circle fa-fw w3-margin-center w3-large"></i> Friend3 <i class="fa fa-chevron-right fa-fw w3-margin-left"></i></button>
</div>

<div style="margin-left:180px">
  <div class="w3-padding">Your messages with your friends are shown here...</div>

  <div id="person1" class="container person" style="display:none;height:70%">
    <div class="container" style="margin:5px;background-color:#fff;">
    <img src=/w3images/rock.jpg alt="Avatar">
    <p>Hello. gau</p></div>

    <div class="container darker " style="margin:5px;">
    <img src=/w3images/lights.jpg alt="Avatar" class="right">
    <p>sup?</p></div>
  </div>

  <div id="person2" class="container person" style="display:none">
    <div class="container" style="margin:5px;background-color:#fff;">
    <img src=/w3images/rock.jpg alt="Avatar">
    <p>yennapa</p></div>

    <div class="container darker" style="margin:5px;">
    <img src=/w3images/lights.jpg alt="Avatar" class="right">
    <p>yen samachar</p></div>
  </div>

  <div id="person3" class="container person" style="display:none">
    <div class="container" style="margin:5px;background-color:#fff;">
    <img src=/w3images/rock.jpg alt="Avatar">
    <p>what you doing</p></div>

    <div class="container darker" style="margin:5px;">
    <img src=/w3images/lights.jpg alt="Avatar" class="right">
    <p>cooking.  What about you?</p></div>
  </div>

            <form class="w3-container">
              <table style="width:100%;height:30px;"><tr><td>
              <input class="w3-input w3-border w3-round-xxlarge w3-light-grey w3-border-green" style="height:100%" placeholder="Type..." type="text" ></td><td>

                <button class="w3-btn w3-input w3-border w3-round-xxlarge w3-green" style="height:100%"><i class="fa fa-paper-plane" aria-hidden="true"></i></button></td></tr></table>

            </form>

    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br></div>

<footer class="w3-container w3-theme-d3 w3-padding-2">
  <h5>Amrita Hub</h5>
</footer>


<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}
function openCity(evt, person) {
  var i, x, tablinks;
  x = document.getElementsByClassName("person");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-green", "");
  }
  document.getElementById(person).style.display = "block";
  evt.currentTarget.className += " w3-green";
}

function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


</body>
</html>
